[
  {
    "task_name": "苹果watch S10",
    "enabled": true,
    "keyword": "苹果watch S10",
    "max_pages": 10,
    "personal_only": true,
    "min_price": "8000",
    "max_price": "2000",
    "cron": null,
    "keyword_rules": ["苹果watch S10"],
    "account_state_file": "state/acc1.json",
    "free_shipping": true,
    "new_publish_option": "14天内",
    "region": "江苏/南京/全南京",
    "is_running": false
  }
]
